.textFill{
    -fx-text-decoration:line-through;
}

.jfx-snackbar-content{
    -fx-background-color: rgba(21, 21, 21, .9) ! important;
    -fx-background-radius: 100;

}

.focos_jbtn{
    -fx-background-color:#ccc;
}

.jfx-snackbar-toast{
    -fx-text-fill: white;
}

.baner-container{
    -fx-background-color:  #cccccc;
    -fx-background-radius: 0 10 10 0;
    -fx-translate-x: -10;


}

.table-cell-person{
    -fx-alignment: CENTER_RIGHT;
}
.baner-container-2 {
    -fx-background-color:  #cccccc;
    -fx-alignment:center;
}
.dark-background{
    -fx-background-color:  rgba(21, 21, 21, .9) ! important;

}
.dark-background-09{
    -fx-background-color:  rgba(153, 153, 153, .5) ! important;

}

.branco-color{
    -fx-background-color:  rgba(250, 250, 250, 1) ! important;
}
.user-recente{

    -fx-background-color: #e7e7e7;
    -fx-background-radius: 4;

}

.text-font-size{
    -fx-background-color:transparent;
    -fx-font-family:"Segoe UI Light";
    -fx-font-size:18;
    -fx-font-style: italic;
    -fx-text-fill: #000000;
}

.btn-danger{
    -fx-background-color:  #d9534f;
}

.btn-worning-andtext *{
    -fx-fill: #fff ! important;
}

.btn-worning-text{
    -fx-background-color:  #ec971f;
    -fx-fill: #fff ! important;
}
.btn-worning{
    -fx-background-color:  #ec971f;
}

.text-fill-laranja{
    -fx-text-fill: #ec971f;
}

.backgrand-oranger{
    -fx-background-color:  #ec971f;
}
.btn-primary{
    -fx-background-color:   #24B6F7 ! important;
}

.user-fundo{
     -fx-background-image:  url(../img/jecuz.jpeg); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80% 100%;
    -fx-background-color: #41cac141;
}

/* miguels */
.use-gradiente-background{
    
   /* -fx-background-color: linear-gradient(from 10% 10% to 60% 50%, rgba(23,83,144,0.1), rgba(2,0,36,.9));*/
    -fx-background-color: linear-gradient(from 10% 10% to 60% 30%, rgba(49,164,193,0.2), rgba(1,117,141,1));
    
   
}



.user-fundo-2{
    -fx-background-image:  url(../image/back-2.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.user-fundo-transparent{
    -fx-background-color: rgba(0, 0, 0, 0.8);

}
.user-ftrans{
    -fx-background-color: rgba(229, 228, 228, 0.8);

}


.user-element{
    -fx-background-color: rgba(61, 61, 61, 0.95);

}
.user-element-branco{
    -fx-background-color: rgba(255, 255, 255, 0.95);

}
.user-button-transparent{
    -fx-background-color: rgba(226, 226, 226, .9);
    -fx-background-radius: 5px;
}

.user-recente:hover{
    -fx-background-color: #d6e7e7;

}
.user-recente-ative{
    -fx-background-color:   #ec971f ! important;
}
.user-recente-ative-andfill ,.user-recente-ative-andfill *{
    -fx-background-color:   #ec971f ! important;
    -fx-text-fill:#fff ! important;
}

.label-fill-test{
    -fx-text-fill:#fff ! important;
}

.scrol-pane{
    -fx-background-color: transparent;
    -fx-border-color:transparent;
}


.table-view{
    -fx-background-color: transparent;
    -fx-border-color:transparent;
}

.table-Colun{
    -fx-background-color: #e2e2e2;
    -fx-font-family: "Segoe UI Light";
}

.simples-pane{
    -fx-background-color: #999999;
    -fx-background-radius: 4;
}
.simples-pane-2{
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 4;
}
.simples-pane-3{
    -fx-background-color: #cccccc;
    -fx-background-radius: 4;
}

.tipos-produtos{
    -fx-background-color: #9adaff;
    -fx-background-radius: 4;
}

.background-gradiente{
    -fx-background-color: linear-gradient(from 60% 25% to 100% 100%, #3d3d3d, #3d3d3d)
}

.background-gradiente-2{
    -fx-background-color: linear-gradient(from 65% 40% to 100% 100%, transparent, #d5e5e6)
}
.background-gradiente-3{
    -fx-background-color: linear-gradient(from 65% 50% to 100% 100%, transparent, #fd7e14)
}

.edit-text2  .label.up  {
    -fx-text-fill:  #d9534f ! important;
}

.user-background-fundo{
    -fx-background-image:  url(../img/cena-empresa_1.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}




.titled-pane > .title {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #dddddd;
    /*-fx-background-insets: 5, 1, 5;*/
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-border-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 11
}

.titled-pane > .content {
    -fx-background-color: white;
    -fx-background-radius: 0 0 4 4;
    -fx-border-radius: 0 0 4 4;
    -fx-border-color: #dddddd;
    /*-fx-padding: -11;*/
}

.titled-pane.primary {
    -fx-text-fill: white;
}

.titled-pane.primary > .title {
    -fx-background-color: #24B6F7;
    -fx-border-color: #24B6F7;
}

.titled-pane.primary > .content {
    -fx-border-color: #24B6F7;
}

.titled-pane.success .arrow,
.titled-pane.info .arrow,
.titled-pane.warning .arrow,
.titled-pane.danger .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

.titled-pane.success {
    -fx-text-fill: #3c763d;
}

.titled-pane.success > .title {
    -fx-background-color: #dff0d8;
    -fx-border-color: #d6e9c6;
}

.titled-pane.success > .content {
    -fx-border-color: #d6e9c6;
}

.titled-pane.info {
    -fx-text-fill: #31708f;
}

.titled-pane.info > .title {
    -fx-background-color: #d9edf7;
    -fx-border-color: #bce8f1;
}

.titled-pane.info > .content {
    -fx-border-color: #bce8f1;
}

.titled-pane.warning {
    -fx-text-fill: #8a6d3b;
}

.titled-pane.warning > .title {
    -fx-background-color: #fcf8e3;
    -fx-border-color: #faebcc;
}

.titled-pane.warning > .content {
    -fx-border-color: #faebcc;
}

.titled-pane.danger {
    -fx-text-fill: #a94442;
}

.titled-pane.danger > .title {
    -fx-background-color: #f2dede;
    -fx-border-color: #eacbd0;
}

.titled-pane.danger > .content {
    -fx-border-color: #eacbd0;
}

.accordion > .titled-pane > .title,
.accordion > .titled-pane > .content {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}